:root {
    --primary-color: black;
    --secondary-color: #35E68D;
    --white-color: white;
}
*{
    /*border: 1px solid coral;*/
    font-family: 'Roboto Mono', monospace;
}
body{
    color: var(--primary-color);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    background-color: var(--white-color);
}

main{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 500px;
}
p{
    font-size: 15px;
}

a{
    color: black;
    text-decoration: none;
}
h2{
    font-size: 15px;
    margin-bottom: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2px;
    width: 100px;
    text-align: center;
}

h3{
    font-size: 13px;
    color: #828282;
    font-weight: normal;
    margin-bottom: -5px;

}

.profile-pic{
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}

.profile-section{
    margin-bottom: 30px;
}
.job-desc{
    margin-top: 10px;
    color: #828282;
    font-size: 13px;

}

#name{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 20px;
    background-color: var(--primary-color);
    width: 25%;
    margin: auto;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: -5px;
}

#job-role{
    font-size: 18px;
    /*font-weight: light;*/
}

#bio{
    font-style: italic;
    font-size: 14px;
    line-height: 20px;

}

